.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   width: 528px;
   height: 581px;
   background-color: var(--secondary-color);
}
.modal__bth{
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--title-text-color);

    border: solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus-within{
        color: var(--accent-color);
    }

}
.modal__close-icon{
    fill: currentColor;
}
