.social-footer{
    width: 206px;
    margin-left: 70px;
}
.social-footer__title{
    font-weight: 700;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--secondary-color);
margin-bottom: 20px;
text-transform: uppercase;
}
.social-footer__list{
    display: flex;
    justify-content: space-between;
}
.social-footer__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
   


&:hover,
&:focus{
    background-color: var(--accent-color);
}
}
.social-footer__icon{
    fill: currentColor;

}